.footer {
  background-color: #131415; }
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer__text {
    width: 33%; }
  .footer__logo {
    width: 33%; }
  .footer__social {
    width: 33%; }
