.footer{
    background-color: #131415;

    &__wrap{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &__text{
        width: 33%;
        padding: 15px 20px;
    }
    &__p{
        max-width: 275px;
    }
    &__logo{
        width: 33%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    &__social{
        width: 33%;
        padding-right: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
    &__social-desk{
        font-weight: bold;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    &__list{
        margin-top: 8px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    &__item{
        margin-right: 10px;
    }
    &__link{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #d0d0d0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    &__link:hover{
        background-color: #f89513;
    }
}
.loft__link{
    display: inline-block;
    text-decoration: underline;
    padding-bottom: 2px;
}